@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@import "tailwindcss";

* {
  font-family: "SF Pro Display", sans-serif;
  box-sizing: border-box;
}


::-webkit-scrollbar {
  display: none;
}
